.od-custom-accordion2.pg-custom-accordion {
  margin-left: 0;
}


/* List Item css */

.od-list-item.it-software-item-list {
    margin-bottom: 0;
}

/* blog css */

.elementor-widget-container .it-blog-wrap {
    padding-bottom: 120px;
}

.od-price-box3.ma-price-style {
    background: transparent;
}


.it-price-shape-1 {
 
    transform: rotate(0);
}

.elementor-widget-container .ag-hero-thumb img {
    border-radius: 10px;
}

/* single job css */




.it-career-details-left h4, .it-career-details-left h6, .it-career-details-left h1, .it-career-details-left h2, .it-career-details-left h3, .it-career-details-left h5{
margin-bottom: 30px;
}


.it-career-details-left p strong {
    font-weight: 600;
    font-style: normal;
    display: inline-block;
    margin-right: 5px;
    color: var(--it-common-black);
}

.it-career-details-left p {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    font-family: var(--it-ff-roboto);
}

.it-career-details-social-wrap {
    padding-top: 80px;
    border-top: 1px solid rgba(95, 97, 104, 0.5);
    margin-top: 50px;
}

.it-career-sidebar-widget.style-20  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

 .elementor-widget-container .it-hero-thumb img {
    max-width: inherit;
 }

@media only screen and (min-width: 1400px) and (max-width: 1599px), only screen and (min-width: 1200px) and (max-width: 1399px), only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px){

    .elementor-widget-container .it-hero-thumb img {
    max-width: 100%;
}

}

@media only screen and (min-width: 992px) and (max-width: 1199px), only screen and (min-width: 768px) and (max-width: 991px), (max-width: 767px){

body.active_menu_class header .it-header-area{
    padding: 15px 0;
}
}


button.wpcf7-form-control.wpcf7-submit.has-spinner.it-btn {
    right: 6px;
    top: 2.5px;
    transform: translateY(0);
}