/* Hero Banner layout-1 Img */
.elementor-widget-container .it-hero-thumb img {
  max-width: inherit;
}

/* Hero Banner contact from button */
.elementor-widget-container .pg-hero-input-box button {
  right: 83px !important;
}

.elementor-widget-container .dt-hero-input-box button {
  right: 80px !important;
}

.elementor-widget-container .it-cta-input-box button {
  right: 80px !important;
}

/* Hero Banner layout-5 */
.elementor-widget-container .ss-hero-explore a {
  text-decoration: underline;
}

/* Cta layout-1 */
.elementor-widget-container .it-cta-wrap {
  margin-top: 0;
}

/* Testimonial-layout-6 */
.elementor-widget-container .it-testimonial-shape-11 {
  position: absolute;
  top: 15%;
  right: 9%;
  z-index: 0;
}

.it-price-shap_anim img {
  animation: itswing 1s forwards infinite alternate;
}

/* pricing box area css none */
.elementor-widget-container .ma-price-style.ai-price-style {
  background: none;
}
/* Feature box img */
.elementor-widget-container .it-feature-icon img {
  height: 110px;
}
.elementor-widget-container .dt-feature-icon img {
  height: 59px;
}
.elementor-widget-container .pg-feature-icon img {
  height: 82px;
}
.elementor-widget-container .ss-feature-icon img {
  height: 140px;
}

.elementor-widget-container .it-price-value-icon img {
  max-width: 84px;
}

/* list item css */

.od-list-item.it-software-item-list ul li i {
  position: absolute;
  top: 3px;
  left: 0;
}
